			body
			{
				background-color:beige;
				background-image:url("https://marciepettitta2.files.wordpress.com/2011/11/backgroun-effect.jpg");
				font-family:verdena;
			}
			#lalaLogo
			{
				height:54px;
				width:160px;
				left:0px;
				position:absolute;
				z-index:999999;
				left:83%;
				top:36%;
			}
			div
			{
				line-height:150%;
			}
			#headerImage
			{
				width:200px;
				height:99px;
				left:80%;
				position:absolute;
			}
			.holder
			{
				width:1120px;
				height:1200px;
				background-color: #FFE0C2;
				border:1px solid lightgrey;
				position:absolute;
				
				margin:auto;
				top:0px;
				/*bottom:0px; /*or else the top sections won't show up unless zoomed out! */
				left:0px;
				right:0px;
			}
			#preBox
			{
				width:1000px;
				height:1200px;
				left:50px;
				position:absolute;
				background-color:ivory;
				border-right:10px solid tan;
				border-left:10px solid tan;
			}
			#s1
			{
				top:0%; /*it's s right at the top so it's 0%*/
				height:120px;
				border-bottom:1px solid chocolate;
				background-color:#FFFFF0;
				text-align:center;
				position:absolute;
				width:1000px;
			}
			h1
			{
				font-size:3em;
				color:chocolate;
				font-family:Verdena;
				padding-left:10px;
				float:left;
				margin:0px;
				top:55%;
				position:absolute;
				text-align:center;
			}
			img.mainImage
			{
				width:300px;
				height:300px;
				position:absolute;
				left:2%; /*0px from the left*/ 
				top:13.3%; /*110px from the top*/
				border:1px solid white;
			}
			#description1
			{
				font-size:1.1em;
				font-family:Verdena;
				color:maroon;
				width:950px;
				height:380px;
				padding:5px;
				position:absolute;
				opacity:1;
				filter:alpha(opacity=1);
				border:1px solid tan;
				background-color:ivory;
				left:2%;
				top:50%; /*gap of 20px between the image and paragraph, total of 420*/
				z-index:999;
				
			}
			#ingredients1,#howtouse
			{
				font-size:1.1em;
				opacity:0;
				filter:alpha(opacity=0);
				border:1px solid tan;
				font-family:Verdena;
				color:maroon;
				width:950px;
				height:130px;
				padding:5px;
				position:absolute;
				background-color:ivory;
				left:2%;
				opacity:1;
				filter:alpha(opacity=1);
				top:50%; /*gap of 20px between the image and paragraph, total of 420*/
			}
			#productName
			{
				font-size:2em;
				font-weight:bold;
				color:indianred;
				height:30px;
				width:640px;
				position:absolute;	
				left: 34%; /*340px from the left*/
				top:13.3%;
				padding:0px;
				margin-top:0px;
			}
			#container
			{
				height:230px;
				padding:10px;
				border-left:3px solid tan;
				width:630px;
				left: 34%;
				top:17%;
				position:absolute;
				background-color:ivory;
			}
			#headerDescription
			{
				color:coral;
				margin-top:0px;
				font-size:2em;
				width:6em;
				position:absolute;
				left:2%;
				top:45%;
				z-index:999;
				-webkit-animation: cursor 0.2s;
				-ms-animation: cursor 0.2s;
				-o-animation: cursor 0.2s;
				animation: cursor 0.2s;
			}
			#headerIngredients
			{
				color:coral;
				margin-top:0px;
				font-size:2em;
				width:6em;
				position:absolute;
				left:25%;
				top:45%;
				z-index:999;
				
				-webkit-animation: cursor 0.2s;
				-ms-animation: cursor 0.2s;
				-o-animation: cursor 0.2s;
				animation: cursor 0.2s;
			}
			#headerUse
			{
				color:coral;
				margin-top:0px;
				font-size:2em;
				width:6em;
				position:absolute;
				left:48%;
				top:45%;
				z-index:999;
				
				-webkit-animation: cursor 0.2s;
				-ms-animation: cursor 0.2s;
				-o-animation: cursor 0.2s;
				animation: cursor 0.2s;
			}
			#headerIngredients:hover, #headerDescription:hover, #headerUse:hover
			{
				cursor:pointer;
			}
			select
			{
				padding:25px;
				font-size:1em;
				top:25%;
				position:absolute;
				left:5%;
			}
			a.checkOut
			{
				top:50%;
				left:5%;
				position:absolute;
				text-decoration:none;
				display:block;
				background-color:red;
				color:white;
				width:6em;
				padding:5px;
				text-align:center;
				font-family:Verdena;
				font-size:2em;
			}
			a.checkOut:hover
			{
				background-color:white;
				color:red;
			}
			a.continue
			{
				top:50%;
				left:40%;
				position:absolute;
				text-decoration:none;
				display:block;
				background-color:#CC9900;
				color:white;
				width:6em;
				padding:5px;
				font-family:Verdena;
				font-size:2em;
			}
			a.continue:hover
			{
				background-color:white;
				color:#CC9900;
			}
			#p1,#p2
			{
				font-size:1.5em;
				font-family:Verdena;
				color:maroon;
				padding:5px;
				top:0%;
				position:absolute;
			}
			#p1
			{
				left:5%;
			}
			#p2
			{
				left:56%;
			}
			#payPalImage, #payPalImageDiscount
			{
				position:absolute;
				width:125px;
				height:25px;
				top:64%;
				left:5%;
                
                font-family: inherit;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                padding:10px 14px;
                margin: 4px 2px;
                background: #ff6600;
                border: 0;
                cursor: pointer;
                outline: none;
                display: inline-center;
                
			}
            .paypalButton:hover{background: #e05c04;}
			.addButton:hover{background:#e05c04;}
			#payPalImageDiscount
			{
				display:none;
			}
			#discountTable
			{
				display:none;
			}
            /*chenyu update*/
            #viewCart
            {
                position: absolute;
                width:140px;
                height: 45px;
                top:64%;
                left: 25%;
                background:transparent;
                
            }
            
            #continueButton{
                position: absolute;
                width:160px;
                height: 25px;
                top:62%;
                left: 25%;
                
                
                
                font-family: inherit;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                padding:10px 14px;
                margin: 4px 2px;
                background: #ff6600;
                border: none;
                cursor: pointer;
                outline: none;
                display: inline-block;
            }
            #shoppingButton{
                position: absolute;
                width:120px;
                height: 25px;
                top:62%;
                left: 50%;
                
                font-family: inherit;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                padding:10px 14px;
                margin: 4px 2px;
                background: #ff6600;
                border: 0;
                cursor: pointer;
                outline: none;
                display: inline-block;
            }
            
			
			/*#couponCodeCheck, #couponCodeCheckButton
			{
				position:absolute;
				top: 110%;
				left:-42%;
			}
			*/
			/*#couponCodeCheckButton
			{
				left:-18%;
				top:111%;
				background-color:ivory;
				border:1px solid coral;
				border-radius:15px;
				padding-left:10px;
				padding-right:10px;
			}
			#couponCodeCheckButton:hover
			{
				cursor: pointer;
				border:1px solid red;
			}
			#couponCodeCheck
			{
				border: 1px solid coral;
				padding:5px;
			}
			*/
			
			/*styles for the coupon code*/
			#couponCodeCheck, #couponCodeCheckButton
			{
				position:absolute;
				top: 80%;
				left:5%;
			}
			#couponCodeCheckButton
			{
				left:30%;
				top:81%;
				background-color:ivory;
				border:1px solid coral;
				border-radius:15px;
				padding-left:10px;
				padding-right:10px;
			}
			#couponCodeCheckButton:hover
			{
				cursor: pointer;
				border:1px solid red;
			}
			#couponCodeCheck
			{
				border: 1px solid coral;
				padding:5px;
			}
			/*end of coupon code styles*/
			
			/*top links*/
			ul.top
			{
				list-style-type:none;
				padding:0px;
				margin:0px;
				width:102%;
				position:absolute;
			}
			a.top
			{
				float:left;
				display:block;
				width:118.4px;
				height: 24px;
				padding:0.15em 0.3em;
				text-decoration:none;
				background-color:chocolate;
				color:	mistyrose;
				text-align:center;
				font-size:0.90em;
				font-family:Tahoma;
				font-weight:light;
			}
			a.top:hover
			{
				background-color:mistyrose;
				color:chocolate;
				border:1px solid chocolate;
				font-weight:light;
			}
			li.top
			{
				display:inline;
			}
			/*top links end*/
			#s2
			{
				z-index:9999;
				top:0%; /*100/1080*/
				background-color:chocolate;
				height:30px;
				position:absolute;
				width:1019px;
				left:4.5%;
			}
			#freeShipping
			{
				float:right;
				color:brown;
				position:absolute;
				left:47%;
				width:400px;
				font-size:1em;
				-webkit-animation: discountAnimation 8s linear infinite;
				animation: discountAnimation 8s linear infinite;
                
			}
			@keyframes discountAnimation
			{
				0% {color:darksalmon; top:0px;}
				25% {color:red; top:10px;}
				65% {color:indianred; top:20px;}
				75% {color:brown; top:35px;}
				100% {color:maroon; top:45px;}
			}
			@-webkit-keyframes discountAnimation
			{
				0% {color:darksalmon; top:0px;}
				25% {color:red; top:20px;}
				65% {color:indianred; top:40px;}
				75% {color:brown; top:50px;}
				100% {color:maroon; top:55px;}
			}